body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 0;
  color: #666666;
  background-color: #ffffff;
  padding: 0;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
table {
  margin: 0 auto;
  border-collapse: collapse;
}
img {
  border: none;
  outline: none;
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
.container {
  margin: 0 auto;
  width: 720px;
}
.desktop-size {
  padding: 0;
  margin: 0 auto;
  width: 720px;
}
.mobile-size {
  padding: 0;
  margin: 0 auto;
  width: 360px;
  max-width: 360px;
}
table.center,
img.center,
div.center {
  margin: 0 auto;
}
p {
  font-size: 12px;
  line-height: 18px;
  color: #666666;
}
/* Mobile query for fixed width email
   Desktop: 720px
   Mobile 360px */
@media only screen and (max-width: 621px), only screen and (min-width: 360px) and (max-width: 767px) {
  .email-container {
    background-color: black !important;
  }
}
