h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333333;
  font-family: 'Alegreya', Arial, sans-serif;
}
p {
  color: #333333;
  font-family: 'Nunito', Arial, sans-serif;
}
.dark-gray {
  color: #333333;
}
main .custom-sun-hr {
  width: 80%;
}
main .custom-sun-hr .sun-hr-col {
  width: 24px;
}
hr.sun-hr {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #DAA520;
}
hr.sun-hr.full {
  width: 100%;
}
.divider {
  color: #936c22;
  transform: translateY(-12px);
}
.divider td.icon {
  width: 24px;
  height: 24px;
  text-align: center;
}
/* ====================== NAVBAR SELECTORS ====================== */
.navbar {
  width: 100%;
  background-color: #fafafa;
  font-family: 'Alegreya', Arial, sans-serif;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.2);
}
.navbar .inner-nav {
  padding-left: 30px;
}
.navbar .inner-nav #navbarSupportedContent {
  margin: 0 auto;
}
.navbar .fa.fa-sun-o {
  transform: translateY(1px);
}
.navbar .navbar-toggler {
  color: #936c22;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav {
  margin: 0 auto;
}
.navbar .navbar-nav li {
  padding: 5px 25px;
}
.navbar .navbar-nav li > a {
  transition: all 1s ease-in-out;
  color: #936c22;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: underline 0.15em rgba(147, 108, 34, 0);
  transition: text-decoration-color 300ms;
}
.navbar .navbar-nav li > a:hover {
  text-decoration-color: #936c22;
}
.navbar .nav-link {
  padding: 0;
}
.navbar .dropdown-menu {
  transform: translateX(-50px);
}
.navbar .dropdown-menu li {
  display: block;
  padding: 10px 30px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.navbar .dropdown-toggle::after {
  display: none;
}
/* ====================== DESKTOP index.html SELECTORS ====================== */
main {
  margin: 0 50px;
}
main #d-hero {
  width: 100%;
  height: calc(100vh);
  background-color: #fafafa;
  background-image: url(./assets/img/home_splash2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #d-hero .hero-spacer {
  font-size: 535px;
  line-height: 535px;
  height: 535px;
}
main #d-hero #hero-mod {
  background-color: #ffffff;
  width: 50%;
  min-width: 360px;
  box-shadow: 7.5px 7.5px;
  margin: 0 auto;
  text-align: center;
}
main #d-hero #hero-mod h1 {
  padding: 30px 15px 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 5.5px;
  word-spacing: 5px;
}
main #d-hero #hero-mod p {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 25px 45px 30px;
}
.hero-bg-banner {
  z-index: -1;
  background-color: #040404;
  background-image: url(./assets/img/bg_nami.png);
  height: 500px;
  width: 100%;
  position: relative;
  margin-top: -500px;
}
/* ====================== DESKTOP location.html SELECTORS ====================== */
#d-body,
#d-body-home {
  min-width: 1000px;
}
#d-body {
  background-color: #040404;
  background-image: url(./assets/img/bg_nami.png);
}
#d-location {
  max-width: 1420px;
  min-width: 1000px;
  margin: 0 auto;
}
#d-location h1.welcome-banner {
  font-size: 50px;
  line-height: 60px;
  padding: 50px 0;
  color: #DAA520;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: 10px;
  margin-bottom: 10px;
}
#d-location .showcase {
  margin-bottom: 5px;
}
#d-location .showcase .showcase-content {
  width: 34%;
  min-width: 325px;
  padding: 25px;
  background-color: #ffffff;
  text-align: center;
}
#d-location .showcase .showcase-content h2 {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 12px;
}
#d-location .showcase .showcase-content p {
  font-size: 14px;
  line-height: 21px;
  padding: 0 0 8px 10px;
}
#d-location .showcase .showcase-content p.showcase-text {
  padding: 0 25px 25px 10px;
}
#d-location .showcase .showcase-content a {
  color: #936c22;
  font-weight: 700;
}
#d-location .showcase .showcase-content .direction-icons {
  margin-bottom: 20px;
}
#d-location .showcase .showcase-content .direction-icons td {
  padding: 10px;
}
#d-location .showcase-map {
  width: 66%;
}
#d-location .showcase-map #map-wrapper #map_canvas {
  height: 537px;
}
#d-location .showcase-map #map-wrapper #map_canvas #map-content > h1 {
  text-align: center;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Alegreya', Arial, serif;
  color: #333333;
  letter-spacing: 1px;
}
#d-location .showcase-map #map-wrapper #map_canvas #map-content > h4 {
  text-align: center;
  padding-top: 8px;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Nunito', Arial, sans-serif;
}
#d-rentals,
#d-no-rentals {
  max-width: 1420px;
  min-width: 1000px;
  margin: 0 auto;
}
#d-rentals h1.welcome-banner,
#d-no-rentals h1.welcome-banner {
  font-size: 50px;
  line-height: 60px;
  padding: 50px 0;
  color: #DAA520;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  margin-bottom: 10px;
}
#d-rentals p,
#d-no-rentals p {
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
}
#d-rentals .rental-item,
#d-no-rentals .rental-item {
  margin-bottom: 30px;
}
#d-rentals .rental-item .rental-info,
#d-no-rentals .rental-item .rental-info {
  background: #fafafa;
  padding: 15px 20px;
  width: 50%;
  vertical-align: top;
  text-align: center;
}
#d-rentals .rental-item .rental-info .rental-details p,
#d-no-rentals .rental-item .rental-info .rental-details p {
  font-size: 16px;
  line-height: 24px;
}
#d-rentals .rental-item .rental-info .rental-details .col-div,
#d-no-rentals .rental-item .rental-info .rental-details .col-div {
  padding: 0 10px;
}
#d-rentals .rental-item .rental-info td,
#d-no-rentals .rental-item .rental-info td {
  vertical-align: top;
}
#d-rentals .rental-item .rental-info h2,
#d-no-rentals .rental-item .rental-info h2 {
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 30px;
}
#d-rentals .rental-item .rental-info h3,
#d-no-rentals .rental-item .rental-info h3 {
  font-size: 32px;
  line-height: 46px;
  margin-bottom: 10px;
}
#d-rentals .rental-item .rental-info p,
#d-no-rentals .rental-item .rental-info p {
  margin: 8px 0 0;
}
#d-rentals .rental-item .rental-info .sun-icon,
#d-no-rentals .rental-item .rental-info .sun-icon {
  font-size: 36px;
  margin-top: 12px;
}
#d-rentals .rental-item .rental-info .amenities,
#d-no-rentals .rental-item .rental-info .amenities {
  margin-top: 20px;
}
#d-rentals .rental-item .rental-info .amenities .col,
#d-no-rentals .rental-item .rental-info .amenities .col {
  width: 50%;
  padding: 0 5px;
}
#d-rentals .rental-item .carousel-control-prev-icon,
#d-no-rentals .rental-item .carousel-control-prev-icon,
#d-rentals .rental-item .carousel-control-next-icon,
#d-no-rentals .rental-item .carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
}
#d-no-rentals .rental-item .rental-info {
  vertical-align: middle;
}
#d-photos h3 {
  font-size: 50px;
  line-height: 60px;
  padding: 50px 0 25px;
  color: #f6e9c8;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: 10px;
}
#d-photos #exterior-photos,
#d-photos #interior-photos {
  margin-bottom: 50px;
}
#d-photos #exterior-photos h4,
#d-photos #interior-photos h4 {
  font-size: 34px;
  line-height: 42px;
  padding: 50px 0 25px;
  color: #f6e9c8;
  text-align: center;
  font-weight: 800;
  letter-spacing: 10px;
}
#d-photos #exterior-photos .col,
#d-photos #interior-photos .col {
  padding: 10px;
  width: 50%;
}
#about-us {
  width: fit-content;
  margin: 0 auto;
  background-color: #fafafa;
  text-align: center;
  padding: 15px 25px;
}
#about-us table td {
  width: 50%;
}
#about-us h3 {
  margin-bottom: 20px;
}
#about-us .application-info .info-item {
  padding: 0 10px 10px;
  vertical-align: top;
}
#about-us .appointment-text {
  padding: 25px 0;
  text-decoration: underline;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
/* ====================== FOOTER SELECTORS ====================== */
footer {
  background-color: #040404;
  background-image: url(./assets/img/bg_nami.png);
}
footer #contact-wrapper {
  padding: 45px 0;
}
footer #contact-wrapper a.yelp-logo {
  display: block;
  margin: 0 auto 20px;
  text-align: center;
}
footer #contact-wrapper h3 {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  color: #DAA520;
  text-align: center;
}
footer #contact-wrapper td {
  vertical-align: top;
  padding: 0 15px;
}
footer #contact-wrapper td p {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 18px;
  color: #fafafa;
  font-weight: 500;
}
footer #contact-wrapper td a.unstyle-link {
  color: #fafafa;
  text-decoration: none;
}
footer #contact-wrapper td a.m-unstyle-link {
  color: #333333;
  text-decoration: none;
  font-weight: 700;
}
footer #contact-wrapper .mobile .contact {
  text-align: center;
}
footer #contact-wrapper .mobile .contact p {
  font-size: 14px;
  line-height: 21px;
}
footer #contact-wrapper .mobile .contact i {
  color: #fafafa;
}
footer #contact-wrapper .license,
footer #contact-wrapper .unstyle-link {
  color: #fafafa;
}
#address-mod {
  padding: 30px 0;
  text-align: center;
}
#address-mod h2 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Nunito', Arial, sans-serif;
  color: #DAA520;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-weight: 800;
  padding: 0 10px;
}
#address-mod a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 14px;
  border: 1px solid #DAA520;
  color: #DAA520;
}
.navbar-expand-lg .navbar-nav {
  flex-direction: row !important;
}
