h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  color: #333333;
  font-family: 'Alegreya', Arial, sans-serif;
}
p {
  color: #333333;
  font-family: 'Nunito', Arial, sans-serif;
}
main .custom-sun-hr {
  width: 80%;
}
main .custom-sun-hr .sun-hr-col {
  width: 24px;
}
.mobile .custom-sun-hr {
  width: 80%;
}
.mobile .custom-sun-hr .sun-hr-col {
  width: 24px;
}
hr.sun-hr {
  width: 80%;
  margin: 0 auto;
  border: 3px solid #DAA520;
}
hr.sun-hr.full {
  width: 100%;
}
.divider {
  color: #936c22;
  transform: translateY(-12px);
}
.divider td.icon {
  width: 24px;
  height: 24px;
  text-align: center;
}
.mobile {
  display: none;
}
/* ====================== NAVBAR SELECTORS ====================== */
.navbar {
  width: 100%;
  background-color: #fafafa;
  font-family: 'Alegreya', Arial, sans-serif;
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.2);
}
.navbar .inner-nav {
  padding-left: 30px;
}
.navbar button.mobile {
  width: 100%;
}
.navbar button.mobile .nav-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  width: 100%;
}
.navbar button.mobile .nav-title .fa-sun-o {
  left: 25px;
  top: 15px;
  position: absolute;
}
.navbar .fa.fa-sun-o {
  transform: translateY(1px);
}
.navbar .navbar-toggler {
  color: #936c22;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav li {
  padding: 0 15px;
}
.navbar .navbar-nav li > a {
  color: #936c22;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.navbar .nav-link {
  padding: 0;
}
.navbar .dropdown-menu {
  transform: translateX(-50px);
}
.navbar .dropdown-menu li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.navbar .dropdown-toggle::after {
  display: none;
}
/* ====================== DESKTOP index.html SELECTORS ====================== */
main {
  width: 100%;
  height: calc(100vh);
  background-color: #fafafa;
  background-image: url(./assets/img/home_splash2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main .hero-spacer {
  font-size: 490px;
  line-height: 490px;
  height: 490px;
}
main #hero-mod {
  background-color: #ffffff;
  width: 50%;
  min-width: 360px;
  box-shadow: 7.5px 7.5px;
  margin: 0 auto;
  text-align: center;
}
main #hero-mod h1 {
  padding: 30px 15px 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  line-height: 52px;
  letter-spacing: 5.5px;
  word-spacing: 5px;
}
main #hero-mod p {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 25px 45px 30px;
}
/* ====================== MOBILE index.html SELECTORS ====================== */
#mobile-wrapper {
  /* ---------------------------- MOBILE HERO SELECTORS ---------------------------- */
  /* ---------------------------- END MOBILE HERO SELECTORS ---------------------------- */
  /* ---------------------------- MOBILE LOCATION SELECTORS ---------------------------- */
  /* ---------------------------- END MOBILE LOCATION SELECTORS ---------------------------- */
  /* ---------------------------- RENTAL SELECTORS ---------------------------- */
  /* ---------------------------- END RENTAL SELECTORS ---------------------------- */
  /* ---------------------------- MOBILE PHOTOS SELECTORS ---------------------------- */
  /* ---------------------------- END MOBILE PHOTOS SELECTORS ---------------------------- */
}
#mobile-wrapper #m-hero-mod #hero-img {
  width: 100%;
}
#mobile-wrapper #m-hero-mod #hero-content {
  text-align: center;
}
#mobile-wrapper #m-hero-mod #hero-content h1 {
  padding: 30px 15px 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 4px;
  word-spacing: 2px;
}
#mobile-wrapper #m-hero-mod #hero-content p {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 25px 45px 30px;
}
#mobile-wrapper #m-location {
  background-color: #0e0e0e;
  background-image: url(./assets/img/bg_nami.png);
}
#mobile-wrapper #m-location #map-wrapper {
  padding: 55px 0 90px;
}
#mobile-wrapper #m-location #map-wrapper h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: 10px;
  margin-bottom: 10px;
  color: #DAA520;
}
#mobile-wrapper #m-location #map-wrapper .sun-hr.full {
  border: 3px solid #DAA520;
  opacity: 100%;
}
#mobile-wrapper #m-location #map-wrapper #map_canvas {
  height: 400px;
  border-top: 3px solid #DAA520;
  border-bottom: 3px solid #DAA520;
}
#mobile-wrapper #m-location #map-wrapper #map_canvas #map-content > h1 {
  text-align: center;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Alegreya', Arial, serif;
  color: #333333;
  letter-spacing: 1px;
}
#mobile-wrapper #m-location #map-wrapper #map_canvas #map-content > h4 {
  text-align: center;
  padding-top: 8px;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Nunito', Arial, sans-serif;
}
#mobile-wrapper #m-rentals {
  padding: 55px 0 90px;
  background-color: #f5f5f5;
}
#mobile-wrapper #m-rentals h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: 10px;
  margin-bottom: 10px;
}
#mobile-wrapper #m-rentals .rental-info {
  padding: 20px 25px 20px;
}
#mobile-wrapper #m-rentals .rental-info h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
}
#mobile-wrapper #m-rentals .rental-info p {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 20px;
}
#mobile-wrapper #m-rentals .slider .slide-arrow {
  position: relative;
}
#mobile-wrapper #m-rentals .slider .slide-arrow.right {
  float: right;
  transform: translate3d(-10px, -44px, 0);
}
#mobile-wrapper #m-rentals .slider .slide-arrow.left {
  transform: translate3d(10px, -44px, 0);
}
#mobile-wrapper #m-rentals .rental-amenities {
  padding: 0 15px;
}
#mobile-wrapper #m-rentals .rental-amenities td {
  vertical-align: top;
}
#mobile-wrapper #m-rentals .rental-amenities td p {
  margin-top: 10px;
  font-size: 13px;
  line-height: 21px;
}
#mobile-wrapper #m-rentals .rental-amenities td.c1 {
  padding-right: 10px;
}
#mobile-wrapper #m-rentals .rental-amenities td.c2 {
  padding-left: 10px;
}
#mobile-wrapper #m-photos {
  padding: 55px 0 90px;
}
#mobile-wrapper #m-photos h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: 10px;
  margin-bottom: 10px;
}
#mobile-wrapper #m-photos .photo-gallery {
  border-top: 3px solid #DAA520;
  border-bottom: 3px solid #DAA520;
}
#mobile-wrapper #m-photos .photo-gallery .gallery-img {
  max-width: 100%;
}
#mobile-wrapper #m-photos #largeImgPanel {
  text-align: center;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#mobile-wrapper #m-photos #largeImgPanel #largeImg {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 30vh;
  left: 0;
  position: absolute;
}
/* ====================== DESKTOP location.html SELECTORS ====================== */
#d-body {
  background-color: #040404;
  background-image: url(./assets/img/bg_nami.png);
}
#d-location {
  max-width: 1420px;
  margin: 0 auto;
}
#d-location h1.welcome-banner {
  font-size: 50px;
  line-height: 60px;
  padding: 50px 0;
  color: #DAA520;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: 10px;
  margin-bottom: 10px;
}
#d-location .showcase {
  margin-bottom: 25px;
}
#d-location .showcase .showcase-content {
  padding: 25px;
  background-color: #ffffff;
}
#d-location .showcase .showcase-content h2 {
  font-family: 'Nunito', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 48px;
}
#d-location .showcase .showcase-content p {
  padding: 0 10px 25px;
}
#d-location .showcase .showcase-content .direction-icons td {
  padding: 10px;
}
#d-location #map-wrapper #map_canvas {
  height: 400px;
}
#d-location #map-wrapper #map_canvas #map-content > h1 {
  text-align: center;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Alegreya', Arial, serif;
  color: #333333;
  letter-spacing: 1px;
}
#d-location #map-wrapper #map_canvas #map-content > h4 {
  text-align: center;
  padding-top: 8px;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Nunito', Arial, sans-serif;
}
/* ====================== FOOTER SELECTORS ====================== */
footer {
  background-color: #040404;
  background-image: url(./assets/img/bg_nami.png);
  padding-bottom: 25px;
}
footer #contact-wrapper {
  padding: 25px 0;
}
footer #contact-wrapper td {
  vertical-align: top;
  padding: 0 35px 0;
}
footer #contact-wrapper td h3 {
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  color: #DAA520;
}
footer #contact-wrapper td p {
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 18px;
  color: #fafafa;
  font-weight: 500;
}
footer #contact-wrapper td a.unstyle-link {
  color: #fafafa;
  text-decoration: none;
}
footer #address-mod {
  padding: 25px 0;
  text-align: center;
  background-color: #040404;
}
footer #address-mod h2 {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Nunito', Arial, sans-serif;
  color: #DAA520;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-weight: 800;
  padding: 0 10px;
}
footer #address-mod a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 14px;
  border: 1px solid #DAA520;
  color: #DAA520;
}
@media only screen and (max-width: 821px) {
  #mobile-wrapper,
  #m-location,
  #m-rentals,
  .navbar,
  .slider,
  .mySlides,
  footer,
  html,
  .rental-amenities,
  .rental-info,
  #m-photos {
    min-width: 360px;
  }
  main,
  .desktop {
    display: none !important;
  }
  div.mobile {
    display: block !important;
  }
  a.mobile {
    display: inline !important;
  }
  td.mobile {
    display: table-cell !important;
  }
}
@media only screen and (max-width: 992px) {
  .navbar li.nav-item a {
    line-height: 56px;
  }
  .navbar button.mobile {
    display: block !important;
  }
}
