/* ========== NAVBAR ========== */
.navbar {
  width: 100%; 
  background-color: rgb(250,250,250);
  font-family: 'Alegreya', Arial, sans-serif;
  box-shadow: 0 9px 20px 0 rgb(0 0 0 / 20%), 0 9px 20px 0 rgb(0 0 0 / 20%);
  .inner-nav {
    padding-left: 30px;
  }
  .mobile-nav-title {
    display: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  } 
  .fa.fa-sun-o {
    position: fixed;
    top: 23px;
  }
  .navbar-toggler {
    color: #936c22;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  } 
  .navbar-nav {
    li {
      padding: 0 15px;
    }
    li > a {
      color: #936c22;
      font-size: 1.1em;
      font-weight: 600;
      letter-spacing: 1.5px;
    }
  }
  .dropdown-menu {
    li {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }
  }
  .dropdown-toggle::after {
    display: none;
  }
}

/* ========== MAIN CONTENT ========== */ 
main {
  width: 100%;
  height: calc(100vh);
  background-color: #fafafa;
  background-image: url(./assets/img/home_splash2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-spacer {
  font-size: 490px;
  line-height: 490px;
  height: 490px;
}

.hero-mod {
  background-color: #ffffff;
  width: 50%;
  min-width: 360px; 
  box-shadow: 7.5px 7.5px;
  margin: 0 auto;
  text-align: center;
  h1 {
    padding: 30px 0 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alegreya', serif;
    font-size: 44px;
    line-height: 52px;
    letter-spacing: 5.5px;
    word-spacing: 5px;
  }
  p { 
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding: 25px 45px 30px;
  }
  hr.sun-hr {
    width: 80%;
    margin: 0 auto;
  }
}

// Mobile device styles
@media only screen and (max-width: 600px) {
  .hero-spacer {
    height: 200px; 
  }
} 

@media only screen and (max-width: 992px) {
  .navbar {
    li.nav-item {
      padding-left: 55px;
    }
    .mobile-nav-title {
      display: inline-block !important;
    } 
  }
}