.navbar {
  width: 100%;
  background-color: #fafafa;
  font-family: 'Alegreya', Arial, sans-serif;
  box-shadow: 0 9px 100px 0 rgba(0, 0, 0, 0.2), 0 9px 100px 0 rgba(0, 0, 0, 0.2);
}
.navbar .mobile-nav-title {
  display: none;
}
.navbar .navbar-toggler {
  color: #936c22;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav li > a {
  color: #936c22;
  font-size: 1.1em;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.navbar .dropdown-menu li {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.navbar .dropdown-toggle::after {
  display: none;
}
.wrapper-main {
  width: 1000px;
  text-align: center;
  margin: 0 auto;
}
main {
  width: 100%;
  height: calc(100vh);
  background-color: #fafafa;
  background-image: url(./assets/img/home_splash2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media only screen and (max-width: 600px) {
  .wrapper-main {
    width: 100%;
    min-width: 375px;
  }
}
@media only screen and (max-width: 992px) {
  .navbar .mobile-nav-title {
    display: inline-block !important;
  }
}
